<!-- i is educated. You know i fink education is really important, but computer skills are importanter! -->

   <!-- ******************  EDUCATION & CERTIFICATIONS ****************** -->

  <%- include("header.ejs"); %>

  <section class="education" id="education">
    <div class="content-wrapper item-details">
      <h2>Education</h2>
      <!-- utility tree surgery 2 -->
      <section>
        <h3>Hi-Line, Exeter</h3>
        <p>2019</p>
        <p>NPTC - U.A 5.1 and 5.2</p>
      </section>
      <!-- utility tree surgery -->
      <section>
        <h3>Hi-Line, Exeter</h3>
        <p>2018</p>
        <p>NPTC - U.A 2.1, 2.2 and 2.3</p>
      </section>
      <!-- tree surgery -->
      <section>
        <h3>Blakes Training - Middlezoy</h3>
        <p>2017</p>
        <p>NPTC - ground based chainsaw operation, Tree climbing and rescue, Aerial cutting and freefall techniques, Aerial tree pruning</p>
      </section>
      <!-- distance learning 2 -->
      <section>
        <h3>Stonebridge Associated Colleges</h3>
        <p>2016</p>
        <p>level 4 diploma in Advanced Psychotherapy</p>
      </section>
      <!-- Distance learning 1 -->
      <section>
        <h3>Inspired Institute of Hypnotherapy</h3>
        <p>2009</p>
        <p>Diploma in Hypnotherapy and Neuro Linguistic Programming</p>
      </section>
      <!-- School -->
      <section>
        <h3>Alderbrook School - Solihul</h3>
        <p>2000</p>
        <p>
          GCSE Maths, English, Double Science Award, Music, Geography and
          Religious Studies.
        </p>
      </section>
      <!-- End of School block. -->
    </div>
  </section>
</main>
<%- include("footer.ejs"); %>