<footer id="footer">
    <div class="content-wrapper">
      <h2>Let's Keep in Touch!</h2>

      <!-- Social media and contact links. -->
      <ul class="contact-list">
        <li id="email">
          <a href="mailto:n.a.flannery@outlook.com" 
            >Email me</a
          >
        </li>
<!-- website is commented out until active -->
        <li id="website">
          <a href="www.niall-flannery.com" target="_blank"
            >Niall's website</a
          >
        </li>
        
        <li id="twitter">
          <a
            href="https://twitter.com/NiallFlannery1?ref_src=twsrc%5Etfw"
            class="twitter-follow-button"
            data-show-count="false"
            >Follow @NiallFlannery1</a
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </li>
        <li id="linkedin">
          <div
            class="badge-base LI-profile-badge"
            data-locale="en_US"
            data-size="small"
            data-theme="light"
            data-type="VERTICAL"
            data-vanity="niallflannery1"
            data-version="v1"
          >
            <a
              class="badge-base__link LI-simple-link"
              href="https://uk.linkedin.com/in/niallflannery1?trk=profile-badge"
            ></a>
          </div>

          <script
            src="https://platform.linkedin.com/badges/js/profile.js"
            async
            defer
            type="text/javascript"
          ></script>
        </li>
        <li id="facebook"><a href="#" target="_blank">Facebook</a></li>
      </ul>
    </div>
  </footer>
  <!-- No Script for this page here. some script is provided by third parties though -->
</body>
</html>