<!-- How does a web developer like his coffee?

        #000000 -->

<!-- ***********************  ABOUT / PROFILE  *********************** -->

<%- include("header.ejs"); %>

<header id="header">
  <div class="content-wrapper">
    <img
      src="/media/images/Niall-Flannery.jpg"
      alt="Niall Flannery, photo of"
      id="title-img"
    />
    <h1>Niall Flannery</h1>
    <h2>Web Developer - Hypnotherapist</h2>

    <p>
      I enjoy the challenge of web development. In 2001 I started "tinkering"
      with computers, I picked up a few bits of C++, python and java but nothing
      major. In 2010 I commited myself to learning Excel
      <strong>in depth</strong>(including VBA) to aid my therapy business
      (automating monotonous tasks, creating client databases to track progress
      and such).
    </p>
    <br />
    <p>
      This skill was called upon again in 2019 when in my current company I used
      Excel to create a surveying program to automate a lot of the monotonous
      tasks the Utility surveyors were having to do on a daily basis (creating
      site surveys, completing and updating circuit logs). I then created a KPI
      reporting system using Excel (VBA, power BI) that accumulated over 100
      circuit logs into one convenient report (all from microsoft one drive).
      Whilst working on the project I realised that this is what I wanted to do.
      I want to make things that are useful and enjoy the challenge of doing it.
      I stopped to look and research all my options with regards to creating
      programs and fell in love with web development.
    </p>
    <br />
    <p>
      I spent 2020, 2021 and most of this year (2022) learning in my spare time
      from Udemy, Linked In and W3Schools to give myself a solid grounding in
      <strong>HTML, CSS</strong> and <strong>javascript</strong>. I enjoy using
      Node.JS and express and am working towards becoming a MERN stack developer
      (this site is running node and express). I would also like to diversify
      and learn ASP.NET.
    </p>
  </div>
</header>

<%- include("footer.ejs"); %>
