<!-- I can’t believe I got fired from the calendar factory. All I did was take a day off. -->

<!-- ***********************  WORK EXPERIENCE  *********************** -->

<%- include("header.ejs"); %>

<section class="work-experience" id="work-experience">
  <div class="content-wrapper item-details divider">
    <h2>Work Experience</h2>

    <!-- Job 1. -->
    <section class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8">
          <h3>
            Utility Arborist - Utility Arborist Surveyor - SSE Contract Field
            Manager
          </h3>
          <p>RSK Hi-Line LTD - Exeter, Devon</p>
          <p>2018 - present</p>
        </div>

        <div class="col-md-6 col-sm-8">
          <p>List of duties and Responsibilies:</p>
          <ul>
            <li>
              As a Manager, Created a reporting system using VBA to link all
              circuit data from various cloud based Excel workbooks.
            </li>
            <li>As a Manager, Managed the delayed work cutting program.</li>
            <li>
              As a Manager, Managed Major shutdown works on sections of 132kv
              network.
            </li>
            <li>
              As a Manager, Organised Surveyors. Planned in areas of network
              where they were to work. Created one Excel workbook that would
              fill in all their required forms when surveying using VBA. This
              reduced time spent filling in forms and increased productivity
              whilst ensuring that every work pack was to the same high
              standard.
            </li>
            <li>
              Issuing work to subcontractors and ensuring work was carried out
              within budget.
            </li>
            <li>
              as a Team leader, ensuring the safety of my team. Carry out high
              quality work
            </li>
            <li>
              As a Surveyor, liaising with land owners and educating the to the
              risk posed by vegetation encroaching on the network. Negotiating
              work and clearances to meet ESQCR requirements.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Job 2 -->
    <section class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8">
          <h3>Arborist</h3>
          <p>Sheasby Tree Surgery - Watchet, Somerset</p>
          <p>2017 - 2018</p>
        </div>
        <div class="col-md-6 col-sm-8">
          <p>List of duties and Responsibilies:</p>
          <ul>
            <li>Delivering a high standard of Arboricultural work</li>
            <li>Driving team to and from site</li>
            <li>planting new trees where required</li>
            <li>
              Carried out works for Minehead Town Council to maintain
              aescthetics and safety of public trees in parks and Graveyards
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- job 3. -->
    <section class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8">
          <h3>Hypnotherapist</h3>
          <p>
            Self Employed Hypnotherapist - [Stratford upon Avon, Warwickshire]
            [Ilminster, Somerset]
          </p>
          <p>2009 - 2017</p>
        </div>
        <div class="col-md-6 col-sm-8">
          <p>List of duties and Responsibilies:</p>
          <ul>
            <li>Custom therapeutic interventions for each client</li>
            <li>
              Work with clients using Solution Focused approach to Hypnotherapy
              to plan goals and find the small steps that they could use to
              achieve them
              <!-- Solution Foused hypnotherapy follows 2 achronyms to plan sessions. the first is GEMS
                  G - Goals, what does the client hope for from coming to therapy and how will they know tat they have achieved it.
                  E - exceptions, No problem happens all the time so what are the current exceptions. what are they doing that is all ready working
                  M - Miracle question, youre gonna have to look this one up, its too big to fit here
                  S - Scale questions, use questions that can be answered using a scale of 1 - 10 to track progress and find next steps
                  the secon achronym is FOCUS
                  F -Free talk, 5 mins at the start of the session where therapy is not discussed at all. helps put client at ease.
                  O - Outcomes, what does the client want from therapy, how would they know that therapy had been worth while.
                  C - Current Exceptions, see exceptions above
                  U - understand preffered future, see miracle question above
                  S -Scale questions, see above
                  -->
            </li>
            <li>Use Hypnosis and NLP techniques to relieve symptoms</li>
            <li>Treating every client with compassion and sensitivity</li>
            <li>Ensuring sessions met or exceeded the clients expectations</li>
            <li>Maintaining accurate client records</li>
            <li>Promote Hypnosis and Hypnotherapy in a positive manner</li>
            <li>Take and declare payments / banking</li>
            <li>
              Conducting stage hypnosis shows for charity and to educate on the
              safe use of hypnosis
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- job 4. -->
    <section class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8">
          <h3>Delivery Driver</h3>
          <p>Tesco - Seaton, Devon</p>
          <p>2013 - 2017</p>
        </div>
        <div class="col-md-6 col-sm-8">
          <p>List of duties and Responsibilies:</p>
          <ul>
            <li>Keeping to strict timescales</li>
            <li>Ensuring all products were delivered correctly</li>
            <li>
              Recording difficult to find addresses using WGS84 co-ordinates so
              other drivers could find the property
            </li>
            <li>Training new drivers</li>
            <li>Basic maintenance of the delivery vans.</li>
            <li>Stock management of spare parts</li>
            <li>
              Helping relieve pressure in store if required (till work /
              restocking)
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- job 5. -->
    <section class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8">
          <h3>Entertainer - Reatail Assistant</h3>
          <p>The Creaky Cauldron - Stratford upon Avon, Warwickshire</p>
          <p>2007 - 2009</p>
        </div>
        <div class="col-md-6 col-sm-8">
          <p>List of duties and Responsibilies:</p>
          <ul>
            <li>
              Keeping children entertained for a 2 hour party. Holding a
              <quote>"Divination Class"</quote> and guiding them to other
              classes and experiences
            </li>
            <li>
              Leading a fake victorian seance and then revealing the secrets of
              it to paying guests
            </li>
            <li>Leading paranormal investigative groups around the building</li>
            <li>Monitoring all guests in the building</li>
            <li>Operating till for sales</li>
            <li>
              Conducting a thorough search of the property before locking up
              after events
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- job 6. -->
    <section class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8">
          <h3>Barrista - Barrista Maestro - Assistant Manager</h3>
          <p>
            Costa Coffe (Whitbread)- [Stratford upon Avon, Warwickshire] [Tesco,
            Seaton, Devon]
          </p>
          <p>2007 - 2013</p>
        </div>
        <div class="col-md-6 col-sm-8">
          <p>List of duties and Responsibilies:</p>
          <ul>
            <li>General cleanliness of the store</li>
            <li>Forecasting sales and planning rotas accordingly</li>
            <li>Stock take and ordering</li>
            <li>Training new staff</li>
            <li>Banking and declaring takings</li>
            <li>maintaing high standards of coffee</li>
            <li>
              Working to maintain 120 cups an hour served during busy periods
            </li>
            <li>Opening and closing the store(s)</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- job 7. -->
    <section class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8">
          <h3>Cleaner - Lifeguard - Duty Manager</h3>
          <p>David Lloyd Leisure (Whitbread) - Solihul, West Midlands</p>
          <p>2005 - 2007</p>
        </div>
        <div class="col-md-6 col-sm-8">
          <p>List of duties and achievments:</p>
          <ul>
            <li>Maintaining cleanliness of the entire Gym</li>
            <li>Stock take and ordering of cleaning supplies</li>
            <li>Maintaining safety of the pool and poolside</li>
            <li>
              testing the pool water and calibrating pool plant equipment
              accordingly
            </li>
            <li>Banking and declaring takings</li>
            <li>Opening and closing the Gym</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- job 8. -->
    <section class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8">
          <h3>Receptionist</h3>
          <p>1<sup>st</sup> Step I.T. Training - Hall Green, Birmingham</p>
          <p>2001 - 2005</p>
        </div>
        <div class="col-md-6 col-sm-8">
          <p>List of duties and Responsibilies:</p>
          <ul>
            <li>
              Accepting bookings for ECDL training and updating trainers diaries
              / planners
            </li>
            <li>processing payments</li>
            <li>
              liaising with colleges via telephone to arrange for the trainers
              to visit and teach the mini courses in local colleges
            </li>
            <li>
              Dealing with walk in clients, answering any questions that they
              may have
            </li>
          </ul>
          <small>
            At the time the ECDL syllabus consisted of seven modules. These
            were:
            <ol>
              <li>Security for IT Users</li>
              <li>IT User Fundamentals (Windows Explorer)</li>
              <li>Word processing (Microsoft Word)</li>
              <li>Spreadsheets (Microsoft Excel)</li>
              <li>Databases (Microsoft Access)</li>
              <li>Presentations (Microsoft PowerPoint)</li>
              <li>Using Email and the Internet (Windows Explorer)</li>
            </ol>
          </small>
        </div>
      </div>
    </section>

    <!-- End of Job block. -->
  </div>
</section>

<%- include("footer.ejs"); %>
